<!DOCTYPE html>
<html lang="en">
<head>
  <title>Elasticsearch Example - Products search</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
 
<body>
<div class="container">
	<h1>Products Table</h1>
	<div class="row col-md-12 table-responsive">
		<table id="customerTable" class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				 <tr th:each="product, rowStat: ${page.products}"
				 	 th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
			        <td th:text="${product.id}"></td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.description}"></td>
			    </tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>