<!DOCTYPE html>
<html lang="en">
<head>
  <title>Elasticsearch Example - Stores search</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/common.css"/>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
 
<body>
	<header class="header">
    <div class="container-fluid">
      <div class="row col-md-12 table-responsive">
        <div class="col-sm-12">
          <a href="http://tech.jiu-shu.com/" class="logo">旧书 - IT Technologies</a>
        </div>
      </div>
    </div>
  </header>
	<div class="container">
	<h1>Elasticsearch Examples </h1>
	<ul>
	<li><a href="/page/store-names" target="_blank">search store in name only</a></li>
		<li><a href="/page/stores" target="_blank">search store in name and main products</a></li>
		<li><a href="/page/store/fuzzy" target="_blank">search store in name fuzzily</a></li>
	</ul>
</div>
</body>
</html>