<!DOCTYPE html>
<html lang="en">
<head>
  <title>Elasticsearch Example - Stores search</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/common.css"/>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
 
<body>
	<header class="header">
    <div class="container-fluid">
      <div class="row col-md-12 table-responsive">
        <div class="col-sm-12">
          <a href="http://tech.jiu-shu.com/" class="logo">旧书 - IT Technologies</a>
        </div>
      </div>
    </div>
  </header>
	<div class="container">
	<h1>Elasticsearch Examples </h1>
	<ul>
		<li><a href="/page/store-names" target="_blank">只搜索name字段</a></li>
		<li><a href="/page/store-names-closer-better" target="_blank">只搜索name字段，越近越好</a></li>
		<li><a href="/page/store-names-strict" target="_blank">只搜索name字段, 严格包含拆分后的所有的单词</a></li>
		<li><a href="/page/stores" target="_blank">搜索name和mainProducts字段</a></li>
		<li><a href="/page/stores-closer-better" target="_blank">搜索name和mainProducts字段;分词越近分数越高</a></li>
		<li><a href="/page/stores-cross-fields-search" target="_blank">搜索name和mainProducts字段, 采用跨字段策略</a></li>
		<li><a href="/page/stores-no-idf?keyword=Apple" target="_blank">搜索name和mainProducts字段, 通过使用function score query来避开IDF的影响</a></li>
		<li><a href="/page/stores/fuzzy" target="_blank">只搜索name字段， 模糊查询-fuzzily</a></li>
		<li><a href="/page/stores/randomscoring" target="_blank">随机查询</a></li>
		<li><a href="/page/suppliers?keyword=Apple" target="_blank">nested Query, java内存中对nest array object 排序高亮</a></li>
	</ul>
</div>
</body>
</html>